/* index css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none !important;
    color: #000 !important;
}


/* nabbar */

.top-nab {
    background-color: #CD2122;
    /* #CD2122 */
}

.nab-item {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    color: #fff;
    cursor: pointer;
    position: relative;
    padding: 21px 20px;
}

.nab-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.logo {}

.search-bar {
    display: flex;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    padding: 21px 20px;
}

.search-bar-input {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px 0 0 8px;
    width: 50%;
}

.search-bar-button {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 8px 8px 0;
    padding-left: 5px;
    padding-right: 5px;
}

.search-bar-input:focus {
    color: #fff;
    border: none;
    width: 100%;
}