.login {
    height: 93vh;
}

.login {
    display: flex;
    justify-content: center;
    position: relative;
}

.login-main {
    transform: translateY(25%);
    height: 50vh;
    width: 90%;
    border-radius: 15px !important;
}

tr td {
    padding: 5px;
    width: 50%;
}

.confirm {
    width: 70%;
    height: 2em;
    border-radius: 10px;
    border: 1px black solid;
}