<ng-progress #progressBar color="red" (started)="progress_status=='start'" (completed)="progress_status == 'complete'">
</ng-progress>
<mat-card>
    <mat-tab-group>
        <mat-tab label="Thông tin chung">
            <br>
            <mat-card-title>Khóa học: {{course_detail.ten_lop}}</mat-card-title>
            <p>Giáo viên: {{course_detail.giao_vien}}</p>
            <hr>
            <br>
            <div>
                <p>thời gian học: {{dateformat(course_detail.ngay_bat_dau)}} ->
                    {{dateformat(course_detail.ngay_ket_thuc)}}</p>
                <div *ngFor="let item of learntime">
                    <p>Thứ {{item.weekend_day}}, bắt đầu từ {{item.start_time}} kết thúc lúc {{item.end_time}}</p>
                </div>
            </div>
            <hr>
            <br>
            <button mat-button (click)='opentab(course_detail.link_online)'>
                Link khóa học <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-tab>
        <mat-tab label="Danh sách lớp">
            <br>
            <mat-card-title>Số thành viên: {{course_detail.so_thanh_vien}}</mat-card-title>
            <div class="all-user">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="ten">
                        <th mat-header-cell *matHeaderCellDef>Tên</th>
                        <td mat-cell *matCellDef="let element">{{ element.ten }}</td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>email</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.email}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="anh_dai_dien">
                        <th mat-header-cell *matHeaderCellDef>Ảnh đại diện</th>
                        <td mat-cell *matCellDef="let element" class="action">
                            <img src={{element.anh_dai_dien}} alt="" class="avatar">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="vai_tro">
                        <th mat-header-cell *matHeaderCellDef>Vai trò</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.vai_tro}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="giao_vien">
                        <th mat-header-cell *matHeaderCellDef>Giáo viên</th>
                        <td mat-cell *matCellDef="let element" class="action-col">
                            <mat-checkbox class="example-margin" [disabled]="true" [checked]="element.teacher">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef class="action-col">Thao tác</th>
                        <td mat-cell *matCellDef="let element" class="action-col">
                            <button mat-button color="primary" matTooltip="" (click)="showuser(element.id,element.ten)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
            <mat-paginator length="{{ pagelength }}" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="curentPage" aria-label="Select page" (page)="onChangePage($event)" showFirstLastButtons>
            </mat-paginator>
        </mat-tab>
        <mat-tab label="Bài viết">
            <br>
            <input matInput type="text" [(ngModel)]="post.title">
            <form [formGroup]="form">
                <div class="NgxEditor__Wrapper">
                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                    <ngx-editor [editor]="editor" formControlName="editorContent"> </ngx-editor>
                </div>
                <button mat-button (click)="addcontent()">check</button>
            </form>
            <hr>
            <div *ngFor="let item of postlist; let i = index">
                <mat-card>
                    <mat-card-header style="text-align: center; margin: 0 auto; padding: 0 auto; display: block;">
                        <mat-card-title>
                            {{item.title}}
                        </mat-card-title>
                        <mat-card-subtitle>{{item.crete_at}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div [innerHTML]="safehtmlStr[i]"></div>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                        <button mat-button>Xem</button>
                        <button mat-button>Sửa</button>
                        <button mat-button>Xóa</button>
                    </mat-card-actions> -->
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Kho lưu trữ">
            <br>
            Content 4
        </mat-tab>
        <mat-tab label="Bài kiểm tra">
            <br>
            Content 5
        </mat-tab>
    </mat-tab-group>

</mat-card>