<div>
  <button mat-button color="primary" matTooltip="" (click)="adduser()">
    <mat-icon>person_add</mat-icon>
    Thêm mới
  </button>
  <div class="search-bar">
    <mat-form-field appearance="fill">
      <mat-label>Tìm kiếm</mat-label>
      <input matInput [(ngModel)]="content" (blur)="searchUser(searchof,content,curentPage,pageSize)" />
      <button mat-icon-button matSuffix (click)="searchUser(searchof,content,curentPage,pageSize)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>
        Tìm kiếm theo
      </mat-label>
      <mat-select required [(value)]="searchof">
        <mat-option *ngFor="let option of options" value={{option}}>{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<hr />
<div class="all-user">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="ten">
      <th mat-header-cell *matHeaderCellDef>Tên</th>
      <td mat-cell *matCellDef="let element">{{ element.ten }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="vai_tro">
      <th mat-header-cell *matHeaderCellDef>Vai trò</th>
      <td mat-cell *matCellDef="let element">{{ element.vai_tro }}</td>
    </ng-container>

    <ng-container matColumnDef="tom_tat">
      <th mat-header-cell *matHeaderCellDef>Tóm tắt</th>
      <td mat-cell *matCellDef="let element">{{ element.tom_tat }}</td>
    </ng-container>

    <ng-container matColumnDef="action" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="action-col">Thao tác</th>
      <td mat-cell *matCellDef="let element" class="action-col">
        <button mat-button color="primary" matTooltip="" (click)="updateuser(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="primary" matTooltip="" *ngIf="element.vai_tro != 'admin'"
          (click)="deleteuser(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator length="{{ pagelength }}" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="curentPage" aria-label="Select page" (page)="onChangePage($event)" showFirstLastButtons>
  </mat-paginator>

</div>