<h2>Chỉnh sửa thông tin {{ cruser.ten }}</h2>

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Tên</mat-label>
    <input matInput [(ngModel)]="cruser.ten" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="cruser.email" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tóm tắt</mat-label>
    <input matInput [(ngModel)]="cruser.tom_tat" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Ảnh</mat-label>
    <input matInput [(ngModel)]="cruser.anh_dai_dien" />
  </mat-form-field>
  <img src="{{ cruser.anh_dai_dien }}" alt="" />
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="onYesClick()">Submit</button>
</div>
