<button mat-button class="home-button" routerLink="./">
  <mat-icon>home</mat-icon>
  Trang chủ
</button>
<hr />
<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let link of links">
    <button mat-button class="listitem" routerLink="{{ link.url }}">
      <mat-icon>{{ link.icon }}</mat-icon>
      {{ link.title }}
    </button>
  </mat-list-item>
</mat-list>
<hr>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-description>
        <mat-icon>list_alt</mat-icon> <span [matBadge]="classnum" matBadgeOverlap="false">Class list</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <section *ngFor="let class of class_list_opened">
      <button style="overflow: hidden;" mat-button class="listitem class-icon" routerLink="{{ class.url }}"
        (click)="changecourse(class.id)">
        <p style="margin: 0; max-width: 125px; " class="class-name">{{ class.title }}</p>
        <mat-icon class="close" (click)="close(class.id)">close</mat-icon>
      </button>
    </section>
  </mat-expansion-panel>
</mat-accordion>
<hr>