<mat-progress-bar mode="indeterminate" [class]="bar"></mat-progress-bar>
<mat-spinner class="hide"></mat-spinner>
<form name="form" #f="ngForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>username</mat-label>
    <input
      matInput
      placeholder="User name"
      name="username"
      [(ngModel)]="model.ten_dang_nhap"
      #username="ngModel"
      required
    />
    <mat-error>Tên đăng nhập không được để trống</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      name="password"
      #password="ngModel"
      placeholder="password"
      [(ngModel)]="model.mat_khau"
      required
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>

    <mat-error>Mạt khẩu không được để trống</mat-error>
  </mat-form-field>
  <button mat-raised-button class="submit" color="primary" (click)="login()">
    Login
  </button>
</form>
