<h2>Thêm người dùng mới</h2>

<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Tên khóa học</mat-label>
        <input matInput [(ngModel)]="course.ten_lop" (blur)="checkcoursename(course.ten_lop)" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Khoảng thời gian học</mat-label>
        <mat-date-range-input [rangePicker]="picker" required>
            <input matStartDate placeholder="Start date" [(ngModel)]="startdate" required>
            <input matEndDate placeholder="End date" [(ngModel)]="enddate" required>
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Link online</mat-label>
        <input matInput [(ngModel)]="course.link_online" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Giáo viên</mat-label>
        <mat-select required [(value)]="course.giao_vien">
            <mat-option *ngFor="let option of options" value={{option.id}}>{{option.ten}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="onYesClick()">Submit</button>
</div>