table {
  border-collapse: collapse;
  width: 100%;
}
mat-card {
  max-width: 100%;
  overflow: hidden;
}
mat-form-field {
  width: 100%;
}
.search-bar {
  display: flex;
}
.search-bar > mat-form-field ~ mat-form-field {
  width: 75%;
}

.action-col {
  text-align: center;
}

.all-user {
  overflow: auto;
}

.all-user table {
  width: 100%;
  min-width: 800px;
}

mat-paginator {
  width: 100%;
}
