table {
  border-collapse: collapse;
  width: 100%;
}

mat-form-field {
  width: 100%;
}
.search-bar {
  display: flex;
}
.search-bar > mat-form-field ~ mat-form-field {
  width: 75%;
}

.action-col {
  text-align: center;
}
.all-user {
  width: 100%;
  min-width: 800px;
  overflow: auto;
}

mat-paginator {
  width: 100%;
}
